.hero-container {
  background-size: cover;
  height: 180vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}

.whoIAm{
  padding: 10px;
  width: 50vw;
  height: 120px;
  text-align: left;
  font-size: 32px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  position: absolute;
  top: 20px;
 }
.whoIAm strong{
  color: rgb(100, 255, 218);
}
 
  .intruduce{
    /* background-color: greenyellow; */
    width: 50vw;
    color: #8892b0;
    display: flex;
    flex-direction: column; 
    text-align: justify; 
    position: absolute;
    top: 40vh;
    font-size: 20px;
  font-weight:500;
  /* background-color: black; */
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  }
.about{
  width: 80vw;
  height: 70vh;
  color: #8892b0;
  display: flex;
  flex-wrap: wrap;
  text-align: justify; 
  position: absolute;
  top: 100vh;
  /* background-color: red; */
}
.about p{
  width: 50vw;
  margin-left: 5vw;
  font-size: 20px;
  font-weight:500;
  /* background-color: black; */
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
.about p ul{
  color: rgb(100, 255, 218);
}
.about p a {
  text-decoration: none;
  color: rgb(100, 255, 218);
}
  #myPic{
  width: 24vw;
  height:32vw;
  position: relative;
  right: 0;
  bottom: 0;
  /* margin-left: 8vw; */
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.6;
}
#myPic:hover{
  filter: unset;
  box-shadow: 2px 2px 2px rgb(100, 255, 218);
  opacity: 1;
}

  .contactMe {
    margin: 32px auto;
    text-decoration: none;
    box-shadow: 2px 3px 2px 2px black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    opacity: 1;
    width: 130px;
    text-align: center;
  }
  .contactMe:hover{
    font-weight: bold;
    box-shadow: 2px 2px 2px rgb(100, 255, 218);
  }
  
  @media screen and (max-width: 960px) {
    .hero-container{
      /* height: 10vh; */
    }
    .whoIAm{
      width: 70vw;
      font-size: 25px;
    }
    .intruduce{
      width: 70%;
    }
    .about{
      height: 92vw;
    }
    .about p{
      width: 48vw;
      /* margin: 10px 0; */
    }
    #myPic{
      position: unset;
      width: 200px;
      height: 300px;
      margin:0 auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container{
      height: 250vh;
    }
    .whoIAm{
      text-align: justify;
      font-size: 16px;
      width: 80vw;
    }
    .intruduce{
      width: 80%;
      top: 120px;
    }
    .about{
      width: 90%;
      height: 80vh;
    }
    
    .about p{
      width: 80vw;
      margin: 0 auto;
    }
    #myPic{
      width: 240px;
      height: 360px;
      margin: 0 auto;
    }
  }
  