.rocket{
  /* background-color: red; */
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    top: 400px;
    left:20vw;
    animation-duration: 4s;
    animation: 3s slide-right;
    color:red;
  }

  @keyframes slide-right {
    from {
      left: 0;
    }
    to {
      left: 20vw;
    }
  }
  .fly {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    animation-name: imgAnimation;
    animation-duration: 12s;
    z-index: 5;
  }
  @keyframes imgAnimation {
    0%   {left:20vw; top:400px;}
    100%  {left:80%; top:-10px;width: 5px;height: 5px; opacity: 0.3;}
  }