.social-icons{
/* background-color: red; */
display: flex;
flex-direction: column;
position: fixed;
left: 5%;
margin-left: 0px;
z-index: 3;
top: 50vh;
animation: 4s fadeIn;
}
@keyframes fadeIn {
    0% {top: 100vh;}
    100% {top: 50vh;}
 } 
.social-icons li{
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 40px;
}

.social-icons li i{
    color: black;
}
.social-icons li i:hover{
    transform: scale(1.2);
    border-radius: 50%;
    /* color: ; */
    color: rgb(100, 255, 218);

}
@media screen and (max-width: 768px) {
    .social-icons{
display: flex;
flex-direction: unset;
position:static;
margin: 0 auto;
    }
    .social-icons li i{
        margin:0 10px;
        font-size: 25px;
        color: white;
    }
    .social-icons li i:hover{
        transform: scale(1.1);
    }

}